<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Redirect requests with .html to clean extensionless URLs (301 Permanent)
  RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+([^.]+)\.html [NC]
  RewriteRule ^ %1 [R=301,L]


  # 3. Internally rewrite extensionless request to existing .html file
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^([^\.]+)$ $1.html [NC,L]
</IfModule>
